<div class="container">
  <h1 class="text-center my-4">料理記録アルバム</h1>
  <div class="row">
    <% @cooking_records.each do |record| %>
      <div class="col-md-4 py-2">
        <div class="card mx-auto" style="width: 18rem;">
          <img src="<%= record['image_url'] %>" class="card-img-top" alt="Record image">
          <div class="card-body">
            <p class="card-text">
              <%= case record['recipe_type']
                  when 'main_dish' then '主菜/主食'
                  when 'side_dish' then '副菜'
                  when 'soup' then 'スープ'
                  else record['recipe_type']
                  end %>
            </p>
            <p class="card-text"><%= record['comment'] %></p>
            <p class="card-text"><%= DateTime.parse(record['recorded_at']).strftime('%Y-%m-%d') %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <nav aria-label="Page navigation example" class="d-flex justify-content-end">
    <ul class="pagination">
      <% if @prev_offset %>
        <li class="page-item">
          <%= link_to cooking_records_path(offset: @prev_offset), class: 'page-link', aria: { label: 'Previous' } do %>
            <span aria-hidden="true">&laquo;</span>
          <% end %>
        </li>
      <% end %>
      <% if @next_offset %>
        <li class="page-item">
          <%= link_to cooking_records_path(offset: @next_offset), class: 'page-link', aria: { label: 'Next' } do %>
            <span aria-hidden="true">&raquo;</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
